.metadata/
.settings/
.idea/
.recommenders/
RemoteSystemsTempFiles/


**/.classpath
**/.project
**/.springBeans
**/.factorypath

.mvn/
mvnw
mvnw.cmd

**/target/**

*.class
*.jar
*.bak
*~
*.swp
*.swo

*.pid

*.factorypath

*.pyc

*.docx
*.doc


